.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* Display five news items per column */
  gap: 20px;
  /* Adjust gap between news items as needed */
  margin: 15px;
  /* Center the news container horizontally */
  width: 100%;
  /* Set a maximum width for the news container */
  padding: 0 20px;
  /* Add padding to the left and right of the news container */
}

.news-item {
  background-color: #073e6b;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Additional styling for news items */
}

a:link {
  color: rgb(224, 221, 138);
}

@media only screen and (max-width: 600px) {

  /* Scale down all elements by 80% for mobile view */
  body {
    transform: scale(0.8);
    transform-origin: top left;
    /* Keep the scaling origin at the top left corner */
  }
}