<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedAlgorythms- ACLS</title>
  <link rel="stylesheet" href="styles/bls.css">
  <link rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" href="styles/acls-algorythm.css">
  <script src="script/acls_algorythm.js"></script>
</head>
<body>
  <div class="container">
    <div class="top-line">
      <div><h1 style="color: green;">MedAlgorythms</h1></div>
      <div class="top-line-member">History</div>
      <div class="top-line-member">Run New</div>
      <div class="top-line-member">Repeat Previous</div>
      <div class="top-line-member">My profile</div>
      <div class="top-line-member Mastered">Mastered</div> 
    </div>
  </div>
  <div class="container">
    <div><h2 style="color: green;">Adult Cardic Arrest Algorithm</h2></div>
  </div>
  <div class="container" style="padding-top: 50px; padding-bottom: 40px;">
    <div class="algorythm-box">
      Start CPR
      <!--Checkboxes may need review-->
      <p><input type="checkbox" id="checkbox" name="checkbox">Given Oxygen</p>
      <p><input type="checkbox" id="checkbox" name="checkbox">Attach monitor/defibrillator</p>
    </div>
    <p class="arrow-down">↓</p>
    <div class="shock-box nsr0">
      <p>Rhythm Shockable?</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <button class="algorythm-button nsr0-yes" style="margin-right: 20px;">Yes</button>
        <button class="algorythm-button nsr0-no">No</button>
      </div>
    </div>
    <p class="arrow-down ar1">↓</p>
    <!--
    <div class="asystole nine">
      Asystole/PEA
    </div>
    <p class="arrow-down ar1">↓</p>
    <div class="nine">
      Epinephrine 1mg ASAP
    </div>
    <p class="arrow-down">↓</p>
    <div class="algorythm-box ten">
      <p>CPR 2 min</p>
      <ul>
        <li>IV/IO Access</li>
        <li><strong>Epinephrine</strong> 1mg every 3 to 5 mins</li>
        <li>Consider advanced airway, capnography</li>
      </ul>
    </div>
    <p class="arrow-down">↓</p>
    <div class="shock-box nsr1">
      <p>Rhythm Shockable?</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <button class="algorythm-button nsr1-yes" style="margin-right: 20px;">Yes</button>
        <button class="algorythm-button nsr1-no">No</button>
      </div>
    </div>
    <p class="arrow-down ar5">↓</p>
    <div class="algorythm-box eleven">
      <p>CPR 2 min</p>
      <ul>
        <li>Treat reversible causes</li>
      </ul>
    </div>
    <p class="arrow-down">↓</p>
    <div class="shock-box nsr2">
      <p>Rhythm Shockable?</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <button class="algorythm-button nsr2-yes" style="margin-right: 20px;">Yes</button>
        <button class="algorythm-button nsr2-no">No</button>
      </div>
    </div>
    <p class="arrow-down">↓</p>
    <div class="shock-box nsr3">
      <p> Are there signs on return of spontaneus circulation (ROSC)?</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <button class="algorythm-button nsr3-yes" style="margin-right: 20px;">Yes</button>
        <button class="algorythm-button nsr3-no">No</button>
      </div>
    </div>
    <p class="arrow-down">↓</p>
    <div class="algorythm-box twelve">
      <p>CPR 2 min</p>
      <ul>
        <li>IV/IO Access</li>
        <li><strong>Epinephrine</strong> 1mg every 3 to 5 mins</li>
        <li>Consider advanced airway, capnography</li>
      </ul>
      <p><strong>OR</strong></p>
      <ul>
        <li>Treat reversible causes</li>
      </ul>-->
      <div class="asystole nine">
        VF/pVT
      </div>
      <p class="arrow-down ar1">↓</p>
      <div class="nine">
        Shock
      </div>
      <p class="arrow-down">↓</p>
      <div class="algorythm-box ten">
        <p>CPR 2 min</p>
        <ul>
          <li>IV/IO Access</li>
        </ul>
      </div>
      <p class="arrow-down">↓</p>
      <div class="shock-box nsr1">
        <p>Rhythm Shockable?</p>
        <div style="display: flex; justify-content: center; align-items: center;">
          <button class="algorythm-button nsr1-yes" style="margin-right: 20px;">Yes</button>
          <button class="algorythm-button nsr1-no">No</button>
        </div>
      </div>
      <p class="arrow-down ar5">↓</p>
      <div class="five">
        Shock
      </div>
      <p class="arrow-down">↓</p>
      <div class="algorythm-box ten">
        <p>CPR 2 min</p>
        <ul>
          <li>IV/IO Access</li>
          <li><strong>Epinephrine</strong> 1mg every 3 to 5 mins</li>
          <li>Consider advanced airway, capnography</li>
        </ul>
      </div>
      <p class="arrow-down">↓</p>
      <div class="shock-box nsr2">
        <p>Rhythm Shockable?</p>
        <div style="display: flex; justify-content: center; align-items: center;">
          <button class="algorythm-button nsr2-yes" style="margin-right: 20px;">Yes</button>
          <button class="algorythm-button nsr2-no">No</button>
        </div>
      </div>
      <p class="arrow-down">↓</p>
      <div class="five">
        Shock
      </div>
      <p class="arrow-down">↓</p>
      <div class="algorythm-box twelve">
        <p>CPR 2 min</p>
        <ul>
          <li><strong>Amiodarone</strong> or <strong>Lidocaine</strong></li>
          <li>Treat reversible causes</li>
        </ul>
      </div>
      <p class="arrow-down">↓</p>
      <div class="shock-box nsr2 sr3">
        <p>Rhythm Shockable?</p>
        <div style="display: flex; justify-content: center; align-items: center;">
          <button class="algorythm-button sr3-yes" style="margin-right: 20px;">Yes</button>
          <button class="algorythm-button sr3-no">No</button>
        </div>
      </div>
      <p class="arrow-down ar10">↓</p>
      <div class="shock-box sr5">
        <p> Are there signs on return of spontaneus circulation (ROSC)?</p>
        <div style="display: flex; justify-content: center; align-items: center;">
          <button class="algorythm-button sr5-yes" style="margin-right: 20px;">Yes</button>
          <button class="algorythm-button sr5-no">No</button>
        </div>
      </div>
      <p class="arrow-down ar11">↓</p>
      <div class="algorythm-box thirteen">
        <p>CPR 2 min</p>
        <ul>
          <li>IV/IO Access</li>
          <li><strong>Epinephrine</strong> 1mg every 3 to 5 mins</li>
          <li>Consider advanced airway, capnography</li>
        </ul>
        <p><strong>OR</strong></p>
        <ul>
          <li>Treat reversible causes</li>
        </ul>
        <p>Consider appropriateness of continued rescuscitation</p>
      </div>
      
  </div>
  <p style="opacity: 0.5;">Adapted from 2020 AHA Guidelines for CPR</p>
  <p style="opacity: 0.4;">&copy; 2024 Ohene Darko. All rights reserved</p>

</body>
</html>