<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>MedAlgorythms</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}">
  <link rel="icon" href="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="script/getnews.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <title>MedAlgorythms- Welcome</title>
</head>
<body>
  <header class="fixed-header">
    <div class="container">
      <div class="top-line">
        <div><h1 style="color: rgb(101, 238, 101);">MedAlgorythms</h1></div>
      </div>
    </div>
  </header>
  <div class="container headline">
      <img class="headimage back" src="{{ url_for('static', filename='images/Architecture-wallpaper-9788281 - Copy.jpg') }}" alt="">
      <div class="front" style="width: 100%;">
        <p>
          <h1 style="margin-top: 50px;align-self: center;">Stay on Top</h1>
          <h3 style="color: black;">with MedAlgorythms</h3>
        </p>
      </div>   
  </div>
  
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page2.png') }}" alt=""></div>
    <div class="item"><h1>Acess the Latest News Right Upfront</h1></div>
  </div>
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page3.png') }}" alt="" style="height: 550px; width: auto;"></div>
    <div class="item"><h1 style="width: 300px; padding-left: 100px;">Or get every Health News from our News page</h1></div>
  </div>
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page4a.png') }}" alt=""> <img class="image" src="{{ url_for('static', filename='images/page4b.png') }}" alt=""></div>
    
    <div class="item"><h1>Easy to use, smart and straightforward calculators</h1></div>
    
  </div>
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page5.png') }}" alt=""></div>
    <div class="item"><h2 style="width: 200px;">Enhance your learning with our numerous algorithms</h2> <p><h1>Go from this...</h1></p></div>
  </div>
  <div class="containeritem" style="margin-top: 10px;">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page6.png') }}" alt=""></div>
    <div class="item"><h1>...To this</h1> <p><h3>Designed to make learning  and decision making easier</h3></p></div>
  </div>
  <div class="containeritem" style="margin-top: 150px;">
    <div class="item" style="margin-bottom: 100px;"><h1><a href="{url_for('home')}">See more</a></h1></div>
  </div>
  
  <p style="opacity: 0.4; margin-left: 100px;">&copy; 2024 Ohene Darko. All rights reserved</p>
</body>
</html>