<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>MedAlgorythms</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}">
  <link rel="icon" href="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="script/getnews.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <title>MedAlgorythms- Welcome</title>
</head>
<body>
  <header class="fixed-header">
    <div class="container">
      <div class="top-line">
        <div><h1 style="color: rgb(101, 238, 101);">MedAlgorythms</h1></div>
      </div>
    </div>
  </header>
  <div class="container headline" style="max-width: 100%; max-height: 700px;">
      <img class="headimage" src="
      {{ url_for('static', filename='images/Architecture-wallpaper-9788281 - Copy.jpg') }}" alt="">
      <div class="front" style="width: 100%;">
        <p class="text-with-shadow">
          <h1 class="text-with-shadow" style="margin-top: 50px;align-self: center; color: rgb(255, 255, 255);">Stay on Top</h1>
          <h2 class="text-with-shadow" style="color: rgb(255, 255, 255);">with MedAlgorythms</h2>
        </p>
      </div>
         
  </div>

  <div class="container">
    <p style="margin-top: 100px; z-index: 2;"><a href="{{ url_for('login') }}" class="text-with-shadow" style="color: white; font-size: 26px;">Log In</a></p>
  </div>
  
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page2.png') }}" alt=""></div>
    <div class="item"><h1 style="margin-left: 40px;">Acess the latest Health News right upfront</h1></div>
  </div>
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page3.png') }}" alt="" style="height: 550px; width: auto;"></div>
    <div class="item"><h1 style="margin-left: 40px">Or get every Health News from our News page</h1></div>
  </div>
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page4.png') }}" alt=""></div>
    
    <div class="item"><h1 style="margin-left: 40px">Easy to use, smart and straightforward calculators</h1></div>
    
  </div>
  <div class="containeritem">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page5.png') }}" alt=""></div>
    <div class="item"><h2 style="margin-left: 40px">Enhance your learning with our numerous algorithms</h2> <p><h1 style="margin-left: 40px">Go from this...</h1></p></div>
  </div>
  <div class="containeritem" style="margin-top: 10px;">
    <div class="item"><img class="image" src="{{ url_for('static', filename='images/page6.png') }}" alt=""></div>
    <div class="item"><h1 style="margin-left: 40px">...To this</h1> <p><h3 style="margin-left: 40px">Designed to make learning  and decision making easier</h3></p></div>
  </div>
  <div class="containeritem" style="margin-top: 150px;">
    <div class="item"><h2><a href="{{ url_for('register') }}">Register</a></h2></div>
    <div class="item"><h2><a href="{{ url_for('login') }}">Login</a></h2></div>
  </div>
  <div class="container" style="color: white; background-color: rgb(41, 40, 40); border-radius: 1cap; font-size: 20px; margin-top: 150px;">
    <div class="about-us">
      <p><h2>About this project</h2></p>
      <p>This is a culmination of ideas. Originally intended to simply put up a dose per drug calculator, This project is gradually evolving to accomodate the imaginations and challenges some health professionals may face at work. Comparing our state now with our vision for the future, we can clearly say this project is in its embryonic stages. Although this has been drawn out as a project for Holberton School, major updates will definitely roll out soon. Stay tuned</p>
      <p>Contact us:</p>
      E-mail <a href="mailto:ohendarko@gmail.com" target="_blank">KOD</a> or <a href="mailto:geniuskarikari@gmail.com" target="_blank">Bempah</a>
      <p>Linkedin: <a href="https://www.linkedin.com/in/dr-kwadwo-ohene-darko" target="_blank">Kwadwo Ohene Darko, PharmD</a></p>
      <p>Github: <a href="https://github.com/ohendarko" target="_blank">Ohene</a></p>
      <p>Follow me on X: <a href="https://x.com/ohene_kwadwo?t=Z9WjeZ5vPnkROslQYfWiVA&s=09" target="_blank">@ohene_kwadwo</a></p>
      <p> </p>
      <p><a href="https://github.com/ohendarko/Portfolio_Project.git" target="_blank">See this project on GitHub</a></p>
    </div>
  </div>
  
  <p style="opacity: 0.4; margin-left: 100px; color: white; margin-top: 100px; margin-bottom: 100px;">&copy; 2024 Ohene Darko. All rights reserved</p>
</body>
</html>