body {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}

.top-line-member {
  display: flex;
  place-items: center;
  text-align: justify;
  cursor: pointer;
}

.top-line {
  display: grid;
  width: 70%;
  grid-template-columns: minmax(300px, 1550px) 100px 100px 100px 100px 100px;
  align-self: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  position: relative;
  margin-left: minmax(0px, 50px);
}

.Mastered {
  text-align: center;
  background-color: green;
  color: white;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1cap;
}

.catchphrase {
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}

.catchphrase-paragraph {
  margin-bottom: 10px;
  margin-top: 10px;
}

.display-menu {
  display: grid;
  grid-template-columns: 150px minmax(300px, 1000px) 400px;
  left: 50%;
  transform: translate(15%);
  align-items: baseline;
  font-size: 20px;
}

.updates {
  font-size: 40px;
}

.menu {
  border-radius: 3cap;
  border-color: gray;
  border: none;
  padding: 10px;
  margin-right: 5px;
  font-size: 12px !important;
  cursor: pointer;
}

.Search {
  background-color: blueviolet;
  color: white;
}