body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(41, 40, 40) !important;
  color: white;
}

.header-placeholder {
  display: none;
  /* Initially hide the placeholder */
}

header {
  background-color: rgb(41, 40, 40);
  width: 100% !important;
  border-bottom: 2px solid #230a0a;
  display: flex;
}

.headline .headimage {
  border-bottom: 2px solid #230a0a;
  max-height: 550px;
  width: auto;
  margin-top: 100px;
}

.image {
  max-height: 550px;
  width: auto;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: #333;*/
  color: white;
}

.container {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
}

.containeritem {
  margin-top: 100px;
  display: grid;
  place-items: center;
  grid-template-columns: 500px 500px;
  justify-content: center;
}

.item {
  justify-content: center;
}

.top-line {
  display: grid;
  width: 100%;
  grid-template-columns: 450px 100px 120px 120px 120px 120px 100px !important;
  align-self: center;
  align-items: center;
  /*left: 50%;
  transform: translate(-50%);*/
  font-weight: bold;
  position: relative;
  margin-top: 20px;
}